@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-sm text-gray-800;
  }
  pre {
    font-size: .625rem;
    overflow-x: auto;
    /* margin: 1rem 0; */
    @apply text-red-500 py-4;
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  select[multiple],
  textarea {
    /* @apply text-sm placeholder-gray-300 rounded-sm border-gray-300 hover:border-indigo-300 focus:border-indigo-300 focus:ring-2 focus:ring-indigo-100; */
    /* @apply text-sm placeholder-gray-400 rounded-sm focus:ring-2; */
    padding-top: 6px;
    padding-bottom: 6px;
  }
  input[type='date'] {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@layer components {
  .progress {
    background-image: url(/mango-in-progress-01.gif);
  }
  .text-xss {
    font-size: .6875rem;
  }
  select.project-select {
    @apply h-8 rounded pr-10 text-sm leading-none text-green-500 border border-green-500 border-opacity-60 hover:border-opacity-80 focus:border-green-500 focus:outline-none focus:ring-2 focus:ring-green-100;
  }
  .project-button {
    @apply h-8 inline-flex items-center rounded text-sm text-green-500 border border-green-500 border-opacity-60 hover:border-opacity-80 focus:border-opacity-100 focus:outline-none focus:ring-2 focus:ring-green-100 active:border-opacity-100;
  }
}
